@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
	font-family: sans;
 }

/* Hide tabs at the top */
#TabsToolbar {
    visibility: collapse !important;
}

/* Reduce the size of the sidebar header */
#sidebar-header {
	/*background-color: WindowFrame !important;*/
	background-color: InactiveBorder !important;
    border: none !important;
    height: 10px !important;
	padding: 1px !important;
	margin: 0 !important;
	font-size: 10px !important;
	font-weight: normal !important;
    /*visibility: collapse !important;*/
}

/*Bookmark's bar height:*/
#editBMPanel_folderTreeRow {
	/*height: 500px !important;*/
	height: 700px !important;
}


/*https://developer.mozilla.org/en-US/docs/Web/CSS/color_value*/
/*#tabbar {*/
/*[>background-color: Background !important;<]*/
/*background-color: -moz-Field !important;*/
/*}*/

/*.tab:not(.active):not(:hover) {*/
	/*background-color: ButtonFace !important;*/
/*}*/



/*----------------------------------------*/
/*----------------------------------------*/
/*Next section is all for TreeStyleTab addon:*/
/*----------------------------------------*/
/*----------------------------------------*/

:root {
    background: InactiveBorder;
}

#tabbar {
    border:none;
}

/*        Tab         */

.tab,
.newtab-button-box {
    background: ButtonFace !important;
    border-color: ThreeDHighlight !important;
    color: ButtonText !important;
}

.tab.active {
    background: HighLight !important;
    color: HighLightText !important;
}

.tab:hover,
.newtab-button-box:hover {
    opacity: 0.7;
    /*mix-blend-mode: multiply;*/
}

/*
.tab.unread .label {
  color: HighLight !important;
  font-style: italic !important;
}
*/


/*        Closebox         */

.tab .closebox {
    margin-top: -10px;
    padding: 3px;
}

.tab .closebox:hover {
    /*color: Highlight;*/
    color: HighlightText;
    background: Highlight;
    opacity: 0.75 !important;
}

.tab.active .closebox:hover {
    color: Highlight;
    background: HighlightText;
    opacity: 0.5;
}


/*        Misc         */

.tab.private-browsing .label:before {
    content: "🕶";
}
 
