/* AGENT_SHEET */
:host, :root {
/*	--theme-body-background: Window !important;*/
/*	--theme-body-color: WindowText !important;*/

	--in-content-page-background: -moz-Field !important;
	--in-content-page-color: -moz-FieldText !important;
	--in-content-table-background: -moz-Field !important;

	--in-content-link-color: Highlight !important;
	--in-content-link-color-hover: -moz-MenuHover !important;
	--in-content-link-color-selected: Highlight !important;
	--in-content-link-color-active: HighlightText !important;

	--in-content-primary-button-background: Highlight !important;
	--in-content-primary-button-background-hover: -moz-MenuHover !important;
	--in-content-primary-button-background-active: Highlight !important;
	--in-content-button-background: ButtonFace !important;
	--in-content-button-text-color: ButtonText !important;
	--in-content-button-border-color: ButtonBorder !important;

	--panel-disabled-color: InactiveCaption !important;
	--in-content-deemphasized-text: InactiveCaptionText !important;

	--in-content-selected-text: HighlightText !important;
	--in-content-item-selected: Highlight !important;
	--in-content-item-hover: -moz-MenuHover !important;
	--in-content-border-highlight: Highlight !important;
	--in-content-border-focus: Highlight !important;
	--in-content-border-active: Highlight !important;
	--in-content-border-active-shadow: Highlight !important;
	--in-content-category-outline-focus: 1px dotted Highlight !important;
	--in-content-category-text-selected: Highlight !important;
	--in-content-category-text-selected-active: Highlight !important;
	--in-content-table-header-background: Highlight !important;

	--blue-40: Highlight !important;
	--blue-40-a10: Highlight !important;
	--blue-50: Highlight !important;
	--blue-50-a30: Highlight !important;
	--blue-60: Highlight !important;
	--blue-70: Highlight !important;
	--blue-80: Highlight !important;

	--in-content-box-border-color: InactiveBorder !important;
	--in-content-box-background: -moz-Field !important;
	/*table header bg:*/
	--in-content-box-background-hover: ButtonHighlight !important;

	--in-content-category-text-selected: Highlight !important;
	--in-content-category-text-selected-active: Highlight !important;
	/*--in-content-category-background-selected-hover: -moz-buttonhoverface !important;*/
	--in-content-category-background-selected-hover: Highlight !important;
	--in-content-category-background-selected-active: Highlight !important;
	--in-content-category-background-hover: -moz-MenuHover !important;
	--in-content-category-background-active: Highlight !important;
	--in-content-category-text-hover: HighlightText !important;

	--in-content-dialog-header-background: ButtonFace !important;
}


body:empty {
	background: Window !important;
}


@-moz-document url("about:blank") {
	* {
		background: Window !important;
		color: WindowText !important;
	}
}

@-moz-document url("about:newtab"), url("about:home") {

	body {
		box-shadow: none !important;
		--newtab-background-color: Field !important;
		--newtab-text-primary-color: FieldText !important;
		--newtab-topsites-label-color: FieldText !important;
		--newtab-icon-tertiary-color: FieldText !important;
		--newtab-background-color-secondary: Window !important;
		--newtab-text-secondary-color: WindowText !important;
		--newtab-wordmark-color: FieldText !important;

		--newtab-snippets-background-color: Window !important;
		--newtab-textbox-focus-color: Highlight !important;
		--newtab-topsites-background-color: Window !important;
		--newtab-border-secondary-color: InactiveBorder !important;

		/*--newtab-element-hover-color: -moz-buttonhoverface !important;*/
		--newtab-element-hover-color: Highlight !important;
		--newtab-contextmenu-background-color: ButtonFace !important; /*should be contrast to --newtab-text-primary-color*/
		--newtab-icon-primary-color: ButtonText !important;
		--newtab-link-primary-color: Highlight !important;
		--newtab-section-header-text-color: WindowText !important;
	}

	input {
		color: WindowText !important;;
		background-color: Window !important;;
	}

	/*new tab "Top Sites" dropdown*/
	.ds-header, .ds-layout .section-title span {
		color: var(--newtab-text-secondary-color) !important;
	}

	/*Logo above search box*/
	/*main::before {*/
	/*		display: block;*/
	/*		margin: -10px auto 10px;*/
	/*		content: "";*/
	/*		width: 97px; height: 97px;*/
	/*		background: url("chrome://branding/content/icon128.png") no-repeat;*/
	/*		background-size: 97px;*/
	/*}*/

}


@-moz-document url-prefix("about:"){

	* {
		box-shadow: none !important;
	}

	/*table header fg*/
	treecol:not([hideheader="true"]) {
		color: ButtonText !important;
	}



	richlistitem[selected="true"],
	richlistitem[selected="true"] image,
	richlistitem[selected="true"] label{
		color: HighlightText !important;
		background-color: Highlight !important;
	}
	richlistitem:hover {
		color: HighlightText !important;
		/*filter: brightness(88%) !important;*/
	}

	.checkbox-check[checked],
	.radio-check[selected] {
		background-color: Highlight !important;
		fill: HighlightText !important;
	}

	/* checkbox inside table */
	treechildren::-moz-tree-image(checked) {
		fill: Highlight !important;
	}
	treechildren::-moz-tree-image(checked, hover),
	treechildren::-moz-tree-image(checked, selected) {
		fill: HighlightText !important;
		stroke: none !important;
	}

	.filter[type="text"] {
		background: Field !important;
	}

	/*button:hover {*/
	/*    [>opacity: 0.8;<]*/
	/*    [>filter: brightness(122%) !important;<]*/
	/*    filter: brightness(92%) !important;*/
	/*}*/

	/*a:hover, .text-link:hover {*/
	/*    filter: brightness(92%) !important;*/
	/*}*/

	@media (prefers-color-scheme: dark) {
	  :host *,
	  :root * {
		/* Keep these in sync with:
		 *
		 *  * nsXPLookAndFeel::GenericDarkColor
		 *  * The default value of browser.display.foreground_color.dark and
		 *    browser.display.background_color.dark
		 *
		 * TODO (emilio): Once color-scheme support is complete, perhaps we can
		 * just replace most of these for system colors and remove all this
		 * duplication (assuming we honor the preferred color scheme for
		 * in-content privileged pages and plain-text documents). */
		--in-content-page-background: -moz-Field !important;
		--in-content-page-color: -moz-FieldText !important;
		--in-content-table-background: -moz-Field !important;

		--in-content-link-color: Highlight !important;
		--in-content-link-color-hover: -moz-MenuHover !important;
		--in-content-link-color-selected: Highlight !important;
		--in-content-link-color-active: HighlightText !important;

		--in-content-primary-button-background: Highlight !important;
		--in-content-primary-button-background-hover: -moz-MenuHover !important;
		--in-content-primary-button-background-active: Highlight !important;
		--in-content-button-background: ButtonFace !important;
		--in-content-button-text-color: ButtonText !important;
		--in-content-button-border-color: ButtonBorder !important;

		--panel-disabled-color: InactiveCaption !important;
		--in-content-deemphasized-text: InactiveCaptionText !important;

		--in-content-selected-text: HighlightText !important;
		--in-content-item-selected: Highlight !important;
		--in-content-item-hover: -moz-MenuHover !important;
		--in-content-border-highlight: Highlight !important;
		--in-content-border-focus: Highlight !important;
		--in-content-border-active: Highlight !important;
		--in-content-border-active-shadow: Highlight !important;
		--in-content-category-outline-focus: 1px dotted Highlight !important;
		--in-content-category-text-selected: Highlight !important;
		--in-content-category-text-selected-active: Highlight !important;
		--in-content-table-header-background: Highlight !important;

		--blue-40: Highlight !important;
		--blue-40-a10: Highlight !important;
		--blue-50: Highlight !important;
		--blue-50-a30: Highlight !important;
		--blue-60: Highlight !important;
		--blue-70: Highlight !important;
		--blue-80: Highlight !important;

		--in-content-box-border-color: InactiveBorder !important;
		--in-content-box-background: -moz-Field !important;
		/*table header bg:*/
		--in-content-box-background-hover: ButtonHighlight !important;

		--in-content-category-text-selected: Highlight !important;
		--in-content-category-text-selected-active: Highlight !important;
		/*--in-content-category-background-selected-hover: -moz-buttonhoverface !important;*/
		--in-content-category-background-selected-hover: Highlight !important;
		--in-content-category-background-selected-active: Highlight !important;
		--in-content-category-background-hover: -moz-MenuHover !important;
		--in-content-category-background-active: Highlight !important;
		--in-content-category-text-hover: HighlightText !important;

		--in-content-dialog-header-background: ButtonFace !important;
	  }

	  /* For dialogs, use a different background colour. We don't do
	   * this in High Contrast mode, as we should be using system colours then.
	   */
	  @media not (prefers-contrast) {
		:root[dialogroot],
		/* Also need this on dialog :hosts, or the rule above will override the
		 * value for this custom property again in the shadow DOM. */
		:host(dialog) {
			--in-content-page-background: -moz-Field !important;
		}
	  }
	}
}

/* AGENT_SHEET */
/*@-moz-document url-prefix(chrome://devtools/) {*/
/*}*/
