/* AGENT_SHEET */
:host, :root {
/*	--theme-body-background: -moz-Dialog !important;*/
/*	--theme-body-color: -moz-DialogText !important;*/

	--link-color: Highlight !important;
	--focus-outline-color: Highlight !important;

	--in-content-page-background: -moz--moz-EvenTreeRow !important;
	--in-content-page-color: -moz--moz-CellHighlightText !important;
	--in-content-table-background: -moz--moz-EvenTreeRow !important;

	--in-content-link-color: Highlight !important;
	--in-content-link-color-hover: -moz-MenuHover !important;
	--in-content-link-color-selected: Highlight !important;
	--in-content-link-color-active: HighlightText !important;

	--in-content-primary-button-background: Highlight !important;
	--in-content-primary-button-background-hover: -moz-MenuHover !important;
	--in-content-primary-button-background-active: Highlight !important;
	/*--in-content-button-background: ButtonFace !important;*/
	/*--in-content-button-text-color: ButtonText !important;*/
	/*--in-content-button-border-color: ButtonBorder !important;*/
	/*--in-content-button-background-mixed: ButtonFace !important;*/
	--in-content-button-background: -moz-Dialog !important;
	--in-content-button-text-color: -moz-DialogText !important;
	--in-content-button-border-color: -moz-DialogText !important;
	--in-content-button-background-mixed: -moz-Dialog !important;

	--panel-disabled-color: InactiveCaption !important;
	--in-content-deemphasized-text: InactiveCaptionText !important;

	--in-content-selected-text: HighlightText !important;
	--in-content-item-selected: Highlight !important;
	--in-content-item-hover: -moz-MenuHover !important;
	--in-content-border-highlight: Highlight !important;
	--in-content-border-focus: Highlight !important;
	--in-content-border-active: Highlight !important;
	--in-content-border-active-shadow: Highlight !important;
	--in-content-category-outline-focus: 1px dotted Highlight !important;
	--in-content-category-text-selected: Highlight !important;
	--in-content-category-text-selected-active: Highlight !important;
	--in-content-table-header-background: Highlight !important;

	--blue-40: Highlight !important;
	--blue-40-a10: Highlight !important;
	--blue-50: Highlight !important;
	--blue-50-a30: Highlight !important;
	--blue-60: Highlight !important;
	--blue-70: Highlight !important;
	--blue-80: Highlight !important;

	--in-content-box-border-color: InactiveBorder !important;
	--in-content-box-background: -moz--moz-EvenTreeRow !important;
	/*table header bg:*/
	--in-content-box-background-hover: ButtonHighlight !important;

	--in-content-category-text-selected: Highlight !important;
	--in-content-category-text-selected-active: Highlight !important;
	/*--in-content-category-background-selected-hover: -moz-buttonhoverface !important;*/
	--in-content-category-background-selected-hover: Highlight !important;
	--in-content-category-background-selected-active: Highlight !important;
	--in-content-category-background-hover: -moz-MenuHover !important;
	--in-content-category-background-active: Highlight !important;
	--in-content-category-text-hover: HighlightText !important;

	--in-content-dialog-header-background: -moz-Dialog !important;

	--newtab-background-color: -moz-EvenTreeRow !important;
	--newtab-text-primary-color: -moz-CellHighlightText !important;

	/*--primary_bg_color: -moz-EvenTreeRow !important;*/
}


body:empty {
	background: -moz-Dialog !important;
	background: -moz-EvenTreeRow; !important;
}
@media (prefers-color-scheme: dark) {
	body:empty {
		background: -moz-Dialog !important;
		background: -moz-EvenTreeRow; !important;
	}
}


@-moz-document url("about:blank") {
	* {
		background: -moz-EvenTreeRow; !important;
		color: -moz-CellHighlightText !important;
	}
	@media (prefers-color-scheme: dark) {
		* {
			background: -moz-EvenTreeRow; !important;
			color: -moz-CellHighlightText !important;
		}
	}
}

@-moz-document url("about:newtab"), url("about:home") {
	:host, :root, :root[lwt-newtab-brighttext] {
		--newtab-background-color: -moz-EvenTreeRow !important;
		--newtab-text-primary-color: -moz-CellHighlightText !important;
		--newtab-topsites-label-color: -moz-CellHighlightText !important;
		--newtab-icon-tertiary-color: -moz-CellHighlightText !important;
		--newtab-background-color-secondary: -moz-Dialog !important;
		--newtab-text-secondary-color: -moz-CellHighlightText !important;
		--newtab-wordmark-color: -moz-CellHighlightText !important;

		--newtab-snippets-background-color: -moz-Dialog !important;
		--newtab-textbox-focus-color: Highlight !important;
		--newtab-topsites-background-color: -moz-Dialog !important;
		--newtab-border-secondary-color: InactiveBorder !important;
		--newtab-search-icon: -moz-Dialog !important;

		/*--newtab-element-hover-color: -moz-buttonhoverface !important;*/
		--newtab-element-hover-color: Highlight !important;
		--newtab-contextmenu-background-color: -moz-Dialog !important; /*should be contrast to --newtab-text-primary-color*/
		--newtab-icon-primary-color: -moz-DialogText !important;
		--newtab-link-primary-color: Highlight !important;
		--newtab-section-header-text-color: -moz-DialogText !important;
	}

	body, #root {
		box-shadow: none !important;
		background: -moz-EvenTreeRow !important;
	}

	input {
		color: -moz-DialogText !important;
		background-color: -moz-Dialog !important;
	}

	/*new tab "Top Sites" dropdown*/
	.ds-header, .ds-layout .section-title span {
		color: var(--newtab-text-secondary-color) !important;
	}

	/*Logo above search box*/
	/*main::before {*/
	/*		display: block;*/
	/*		margin: -10px auto 10px;*/
	/*		content: "";*/
	/*		width: 97px; height: 97px;*/
	/*		background: url("chrome://branding/content/icon128.png") no-repeat;*/
	/*		background-size: 97px;*/
	/*}*/

	@media (prefers-color-scheme: dark) {
		:host, :root, :root[lwt-newtab-brighttext] {
			--newtab-background-color: -moz-EvenTreeRow !important;
			--newtab-text-primary-color: -moz-CellHighlightText !important;
			--newtab-topsites-label-color: -moz-CellHighlightText !important;
			--newtab-icon-tertiary-color: -moz-CellHighlightText !important;
			--newtab-background-color-secondary: -moz-Dialog !important;
			--newtab-text-secondary-color: -moz-CellHighlightText !important;
			--newtab-wordmark-color: -moz-CellHighlightText !important;

			--newtab-snippets-background-color: -moz-Dialog !important;
			--newtab-textbox-focus-color: Highlight !important;
			--newtab-topsites-background-color: -moz-Dialog !important;
			--newtab-border-secondary-color: InactiveBorder !important;

			/*--newtab-element-hover-color: -moz-buttonhoverface !important;*/
			--newtab-element-hover-color: Highlight !important;
			--newtab-contextmenu-background-color: -moz-Dialog !important; /*should be contrast to --newtab-text-primary-color*/
			--newtab-icon-primary-color: -moz-DialogText !important;
			--newtab-link-primary-color: Highlight !important;
			--newtab-section-header-text-color: -moz-DialogText !important;
		}
	}
}

/*hbox, label {*/
/*  background: #00000000 !important;*/
/*}*/

/*tree label {*/
/*  color: black !important;*/
/*    background: #00000000;*/
/*}*/
/*treechildren {*/
/*        background: white !important;*/
/*}*/

@-moz-document url-prefix("about:"){

	* {
		box-shadow: none !important;
	}

	html, body, page, hbox, label, h1 {
	  color: -moz-DialogText !important;
	  /*color: -moz-DialogText;*/
	}
	html, body, page {
	  background: -moz-Dialog !important;
	  /*background: -moz-Dialog;*/
	}

	.icon{
	  filter: invert(100%);
	}
	.icon, .category-icon {
	  color: -moz-DialogText !important;
	  fill: currentColor !important;
	}

	/*button, .button-box {*/
	/*    background-color: #00000000 !important;*/
	/*    color: ButtonText !important;*/
	/*}*/
	/*button {*/
	/*    background-color: ButtonFace !important;*/
	/*    border-radius: 5px !important;*/
	/*    border-color: InactiveBorder !important;*/
	/*    filter: brightness(95%) !important;*/
	/*    [>-moz-appearance: button !important;<]*/
	/*}*/
	/*button:hover {*/
	/*    background-color: ThreeDShadow !important;*/
	/*    color: ButtonText !important;*/
	/*    filter: brightness(122%) !important;*/
	/*}*/
	button, .button-box {
		background-color: #00000000 !important;
		color: -moz-DialogText !important;
	}
	button {
		background-color: -moz-Dialog !important;
		border-radius: 5px !important;
		border-color: InactiveBorder !important;
		filter: brightness(95%) !important;
		/*-moz-appearance: button !important;*/
	}
	button:hover {
		background-color: ThreeDShadow !important;
		color: -moz-DialogText !important;
		filter: brightness(122%) !important;
	}

	richlistitem {
	  border-color: -moz-Dialog !important;
	  background: #00000000 !important;
	}
	richlistitem[selected="true"],
	richlistitem[selected="true"] image,
	richlistitem[selected="true"] label{
		color: HighlightText !important;
		background-color: Highlight !important;
	}


	/*table header fg*/
	treecol:not([hideheader="true"]) {
		color: ButtonText !important;
		color: -moz-DialogText !important;
	}



	richlistitem[selected="true"],
	richlistitem[selected="true"] image,
	richlistitem[selected="true"] label{
		color: HighlightText !important;
		background-color: Highlight !important;
	}
	richlistitem:hover {
		color: HighlightText !important;
		/*filter: brightness(88%) !important;*/
	}

	.checkbox-check[checked],
	.radio-check[selected] {
		background-color: Highlight !important;
		fill: HighlightText !important;
	}

	/* checkbox inside table */
	treechildren::-moz-tree-image(checked) {
		fill: Highlight !important;
	}
	treechildren::-moz-tree-image(checked, hover),
	treechildren::-moz-tree-image(checked, selected) {
		fill: HighlightText !important;
		stroke: none !important;
	}

	.filter[type="text"] {
		background: -moz-EvenTreeRow !important;
	}

	/*button:hover {*/
	/*    [>opacity: 0.8;<]*/
	/*    [>filter: brightness(122%) !important;<]*/
	/*    filter: brightness(92%) !important;*/
	/*}*/

	/*a:hover, .text-link:hover {*/
	/*    filter: brightness(92%) !important;*/
	/*}*/

	@media (prefers-color-scheme: dark) {
	  :host *,
	  :root * {
		/* Keep these in sync with:
		 *
		 *  * nsXPLookAndFeel::GenericDarkColor
		 *  * The default value of browser.display.foreground_color.dark and
		 *    browser.display.background_color.dark
		 *
		 * TODO (emilio): Once color-scheme support is complete, perhaps we can
		 * just replace most of these for system colors and remove all this
		 * duplication (assuming we honor the preferred color scheme for
		 * in-content privileged pages and plain-text documents). */
		--in-content-page-background: -moz--moz-EvenTreeRow !important;
		--in-content-page-color: -moz--moz-CellHighlightText !important;
		--in-content-table-background: -moz--moz-EvenTreeRow !important;

		--in-content-link-color: Highlight !important;
		--in-content-link-color-hover: -moz-MenuHover !important;
		--in-content-link-color-selected: Highlight !important;
		--in-content-link-color-active: HighlightText !important;

		--in-content-primary-button-background: Highlight !important;
		--in-content-primary-button-background-hover: -moz-MenuHover !important;
		--in-content-primary-button-background-active: Highlight !important;
		/*--in-content-button-background: ButtonFace !important;*/
		/*--in-content-button-text-color: ButtonText !important;*/
		/*--in-content-button-border-color: ButtonBorder !important;*/
		--in-content-button-background: -moz-Dialog !important;
		--in-content-button-text-color: -moz-DialogText !important;
		--in-content-button-border-color: -moz-DialogText !important;
		--in-content-button-background-mixed: -moz-Dialog !important;

		--panel-disabled-color: InactiveCaption !important;
		--in-content-deemphasized-text: InactiveCaptionText !important;

		--in-content-selected-text: HighlightText !important;
		--in-content-item-selected: Highlight !important;
		--in-content-item-hover: -moz-MenuHover !important;
		--in-content-border-highlight: Highlight !important;
		--in-content-border-focus: Highlight !important;
		--in-content-border-active: Highlight !important;
		--in-content-border-active-shadow: Highlight !important;
		--in-content-category-outline-focus: 1px dotted Highlight !important;
		--in-content-category-text-selected: Highlight !important;
		--in-content-category-text-selected-active: Highlight !important;
		--in-content-table-header-background: Highlight !important;

		--blue-40: Highlight !important;
		--blue-40-a10: Highlight !important;
		--blue-50: Highlight !important;
		--blue-50-a30: Highlight !important;
		--blue-60: Highlight !important;
		--blue-70: Highlight !important;
		--blue-80: Highlight !important;

		--in-content-box-border-color: InactiveBorder !important;
		--in-content-box-background: -moz--moz-EvenTreeRow !important;
		/*table header bg:*/
		--in-content-box-background-hover: ButtonHighlight !important;

		--in-content-category-text-selected: Highlight !important;
		--in-content-category-text-selected-active: Highlight !important;
		/*--in-content-category-background-selected-hover: -moz-buttonhoverface !important;*/
		--in-content-category-background-selected-hover: Highlight !important;
		--in-content-category-background-selected-active: Highlight !important;
		--in-content-category-background-hover: -moz-MenuHover !important;
		--in-content-category-background-active: Highlight !important;
		--in-content-category-text-hover: HighlightText !important;

		--in-content-dialog-header-background: -moz-Dialog !important;
	  }

	  /* For dialogs, use a different background colour. We don't do
	   * this in High Contrast mode, as we should be using system colours then.
	   */
	  @media not (prefers-contrast) {
		:root[dialogroot],
		/* Also need this on dialog :hosts, or the rule above will override the
		 * value for this custom property again in the shadow DOM. */
		:host(dialog) {
			--in-content-page-background: -moz--moz-EvenTreeRow !important;
		}
	  }
	}

	.checkbox-check, .radio-check, textbox, menulist, toolbarbutton {
	  background-color: -moz-Dialog !important;
	  color: -moz-DialogText !important;
		filter: brightness(133%) !important;
		box-shadow: none !important;
		border-color: InactiveBorder !important;
	}
	.checkbox-check[checked], .radio-check[selected] {
	  background-color: Highlight !important;
	  color: -moz-Dialog !important;
		filter: brightness(100%) !important;
	}

}

/* AGENT_SHEET */
/*@-moz-document url-prefix(chrome://devtools/) {*/
/*}*/
