@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
	font-family: sans;
 }

/* Hide tabs at the top */
#TabsToolbar {
    visibility: collapse !important;
}

/* Reduce the size of the sidebar header */
#sidebar-header {
	background-color: WindowFrame !important;
    border: none !important;
    height: 10px !important;
	padding: 1px !important;
	margin: 0 !important;
	font-size: 10px !important;
	font-weight: normal !important;
    /*visibility: collapse !important;*/
}

/*Bookmark's bar height:*/
#editBMPanel_folderTreeRow {
	height: 500px !important;
}


/*https://developer.mozilla.org/en-US/docs/Web/CSS/color_value*/
/*#tabbar {*/
/*[>background-color: Background !important;<]*/
/*background-color: -moz-Field !important;*/
/*}*/

/*.tab:not(.active):not(:hover) {*/
	/*background-color: ButtonFace !important;*/
/*}*/



/*----------------------------------------*/
/*----------------------------------------*/
/*Next section is all for TreeStyleTab addon:*/
/*----------------------------------------*/
/*----------------------------------------*/

/* Show title of unread tabs with red and italic font */
/*
.tab.unread .label {
  color: red !important;
  font-style: italic !important;
}
*/

.tab, .newtab-button-box {
background: ButtonFace !important;
border-color: ThreeDHighlight !important;
color: ButtonText !imporant;
}

.tab.active {
background: HighLight !important;
}

.tab:hover, tab:hover .label, .newtab-button-box:hover {
background:  ButtonText  !important;
opacity: 1;
color: ButtonFace !important;
}

.tab.active:hover .label {
  color: Highlight;
}

.tab .closebox:hover {
  color: Highlight;
}

.tab.private-browsing .label:before {
  content: "🕶";
}
