[Desktop Entry]
Name=Full Flat
Comment=kde theme based on caledonia with squared borders and transparent plasmoids background

X-KDE-PluginInfo-Author=Lgsalvati
X-KDE-PluginInfo-Email=lgsalvati@gmail.com
X-KDE-PluginInfo-Name=Full flat
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://lgsalvati.deviantart.com	
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=Creative Commons BY-SA 3.0
X-KDE-PluginInfo-EnabledByDefault=true

