[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=ffmpeg_imgdir_to_video %f
Name=ffmpeg_imgdir_to_video
Comment=Custom definition for ffmpeg_imgdir_to_video
