@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tab,
.tabbrowser-tab * {
    box-shadow: none !important;
    border-radius: 0 !important;
}

#tabbrowser-tabs,
.tabbrowser-tab {
    color: #000000 !important;
	background: #bbbbbb !important;
    box-shadow: none !important;
    border: none !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[selected="true"] * {
    color: #000000 !important;
    background-color: #b36a87 !important;
    border: none !important;
    box-shadow: none !important;
}

.tabbrowser-tab:hover,
.tabbrowser-tab:hover * {
    color: #000000 !important;
    background-color: #b2b2b2 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.tabbrowser-tab:hover[selected="true"],
.tabbrowser-tab:hover[selected="true"] * {
    background-color: #a15f79 !important;
}

#main-window #TabsToolbar~toolbar#nav-bar {
    margin-top: -1px !important;
    border-top: 1px solid transparent !important;
    /* Firefox 32+ */
}

#TabsToolbar {
    color: #a5a5a5 !important;
    background: #0f0f0f !important;
}

#TabsToolbar::after {
    border-bottom-color: transparent !important;
}

#TabsToolbar~#nav-bar {
    box-shadow: none !important;
}


.tabbrowser-tab .tab-close-button,
.tabbrowser-tab:hover .tab-close-button {
    background-color: #85509b !important;
	color: #0e0021 !important;
	border-radius: 6px !important;
}

.tabbrowser-tab .tab-close-button:hover {
    background-color: #b36a87 !important;
	color: #0e0021 !important;
}
