! xdefaults ------------------------------------------------------------------
!Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
!Xft.hintstyle: hintmedium
!Xft.hintstyle: hintslight
!Xft.dpi: 131
!Xft.dpi: 185
Xft.dpi: 192
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

st.font: Monospace:pixelsize=25:antialias=true:autohint=true;
!st.opacity: 240
!st.opacity: 235
st.opacity: 223
st.bold_font: 1
st.bellvolume: 0

! terminal colorscheme -------------------------------------------------------
!#include ".Xcolours/lcars3"
#include ".Xcolours/monovedek_old"
!#include ".Xcolours/monovedek"
!#include ".Xcolours/monovedek-gray"
!
!#include ".Xcolours/lolitastic"
!#include ".Xcolours/mikado"
!#include ".Xcolours/monokazu"
!#include ".Xcolours/apprentice"
! ?? 
!#include ".Xcolours/jwr-dark"
!#include ".Xcolours/farside"
!#include ".Xcolours/gnome_noble_bright" @TODO: black color
!#include ".Xcolours/zig"
!#include ".Xcolours/kazu"
!#include ".Xcolours/spacemacs-dark"
!#include ".Xcolours/todo/ghostguys"
!#include ".Xcolours/todo/pinknoise"
!#include ".Xcolours/todo/psybeams"
!#include ".Xcolours/todo/gnome_noble_pale"
!#include ".Xcolours/todo/vacuous"
!#include ".Xcolours/todo/navy"
!#include ".Xcolours/todo/erebus"
!#include ".Xcolours/todo/unikitty-dark"
! light: 
!#include ".Xcolours/ivorylight" @TODO: more medical
!#include ".Xcolours/todo/unikitty-light"
!#include ".Xcolours/todo/light"
!#include ".Xcolours/todo/business"
!#include ".Xcolours/todo/ltns"

! urxvt ----------------------------------------------------------------------

!URxvt*font:		 xft:tewi:pixelsize=11
!URxvt*font:		 8x16
!URxvt*font:		 xft:Meslo LG S for Powerline:pixelsize=11
!URxvt*font:		 	-*-tamsyn-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt*font:		 xft:DejaVu Sans Mono for Powerline:pixelsize=11
!URxvt*font:		 xft:DejaVu Sans Mono:pixelsize=13
!URxvt*font:		 xft:Dina:pixelsize=16
URxvt*font:		 xft:monospace:pixelsize=26,xft:Emoji One Color:pixelsize=26,xft:Meslo LG S for Lcarsline:pixelsize=26,xft:DejaVu Sans Mono:pixelsize=26

!URxvt*boldFont:		 8x16bold
!URxvt*boldFont:		 xft:tamsyn bold:pixelsize=13
!URxvt*boldFont:		 xft:DejaVu Sans Mono:pixelsize=13
!URxvt*boldFont: 	-*-tamsyn-bold-*-*-*-14-*-*-*-*-*-*-*

URxvt*letterSpace:	 -1

URxvt*saveLines:		 0
URxvt*loginShell:        true
URxvt*scrollBar:         false
URxvt*termName:          rxvt-unicode-256color
!URxvt.buffered:          true
URxvt*buffered:			 false
URxvt.urlLauncher:       /usr/bin/firefox
URxvt.matcher.button:    1

! Transparency
urxvt*depth: 32
!urxvt*depth: 24
! fake:
!URxvt*transparent: true
!!URxvt*shading: 7
!URxvt*shading: 14
!URxvt*blurRadius: 9x9
! true:
URxvt*transparent: false
!URxvt*background: [95]#240f27
!URxvt*background: [95]#fdf6e3


!URxvt*scrollTtyOutput:      false
!URxvt*scrollWithBuffer:     true
!URxvt*scrollTtyKeypress:    true
URxvt*secondaryScroll: true
URxvt.perl-ext:
URxvt.perl-ext-common:

!URxvt*keysym.Control-Up:   \033[1;5A
!URxvt*keysym.Control-Down:    \033[1;5B
!URxvt*keysym.Control-Left:    \033[1;5D
!URxvt*keysym.Control-Right:    \033[1;5C

!*URxvt*keysym.C-Up:		\033[1;5A
!*URxvt*keysym.C-Down:		\033[1;5B
!*URxvt*keysym.C-Right:		\033[1;5C
!*URxvt*keysym.C-Left:		\033[1;5D

!*URxvt*keysym.Home:		\033OH
!*URxvt*keysym.End:		\033OF

! xterm ----------------------------------------------------------------------
xterm*iconName:Terminal
xterm*eightBitInput:    false
xterm*cursorBlink:      true
xterm*faceName: Monospace
xterm*cursorOffTime:    300
xterm*metaSendsEscape:  true
xterm*faceSize: 10
xterm*title:    Terminal
xterm*cursorOnTime:     300
xterm*utf8:     1
xterm*geometry: 110x31
!xterm*cursorUnderLine:  true
XTerm*scaleHeight: 0.80
xterm*saveLines:	0
xterm*termName:		xterm-256color
xterm*bellIsUrgent:	true

! xscreensaver ---------------------------------------------------------------
!font settings
xscreensaver.Dialog.headingFont:        -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-tamsyn-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffcc99
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #000000
xscreensaver.Dialog.Button.background:  #6666ff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #cc99cc
xscreensaver.Dialog.text.background:    #000000
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff9900
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
