[Desktop Entry]
Name=Blueman Applet
Name[am]=Blueman Applet
Name[ar]=بريمج بلومان
Name[ast]=Applet Blueman
Name[be]=Аплет Blueman
Name[bg]=Аплет Blueman
Name[bs]=Blueman Aplet
Name[ca]=Miniaplicació de Blueman
Name[cs]=Blueman Applet
Name[da]=Blueman-panelprogram
Name[de]=Blueman-Applet
Name[el]=Μικροεφαρμογή Blueman
Name[en_AU]=Blueman Applet
Name[en_GB]=Blueman Applet
Name[es]=Miniaplicación de Blueman
Name[et]=Blueman rakend
Name[fi]=Blueman-sovelma
Name[fr]=Applet Blueman
Name[gl]=Miniaplicativo Blueman
Name[hi]=ब्लूटूथ एप्पलेट
Name[hr]=Blueman programčić
Name[hu]=Blueman kisalkalmazás
Name[id]=Applet Blueman
Name[it]=Blueman Applet
Name[ja]=Blueman アプレット
Name[ko]=블루맨 애플릿
Name[lt]=Blueman programėlė
Name[lv]=Blueman Sīkrīks
Name[mk]=Blueman аплет
Name[mr]=ब्लुटूथ एप्लेट
Name[ms]=Aplet Blueman
Name[nb]=Blueman-panelprogram
Name[nl]=Blueman-applet
Name[pl]=Aplet Blueman
Name[pt]=Applet Blueman
Name[pt_BR]=Miniaplicativo Blueman
Name[ro]=Miniaplicația Blueman
Name[ru]=Апплет Blueman
Name[sk]=Aplet bluetooth
Name[sl]=Aplet Blueman
Name[sr]=Блуменово програмче
Name[sv]=Panelprogrammet Blueman
Name[tr]=Blueman Programcığı
Name[uk]=Аплет Blueman
Name[zh_CN]=Blueman Applet
Name[zh_TW]=Blueman 小程式
Comment=Blueman Bluetooth Manager
Comment[am]=Blueman የ ብሉቱዝ አስተዳዳሪ
Comment[ar]=مدير البلوتوث بلومان
Comment[ast]=Alministrador Bluetooth Blueman
Comment[be]=Blueman, Bluetooth-кіраўнік
Comment[bg]=Мениджър на блутут „Blueman“
Comment[ca]=Gestor de Bluetooth Blueman
Comment[cs]=Správce Bluetooth Blueman
Comment[da]=Blueman Bluetooth-håndtering
Comment[de]=Blueman-Bluetooth-Verwaltung
Comment[el]=Διαχειριστής Bluetooth Blueman
Comment[en_AU]=Blueman Bluetooth Manager
Comment[en_GB]=Blueman Bluetooth Manager
Comment[es]=Gestor de Bluetooth Blueman
Comment[et]=Blueman Bluetoothi haldur
Comment[eu]=Blueman Bluetooth-kudeatzailea
Comment[fi]=Blueman bluetooth-hallinta
Comment[fr]=Gestionnaire Bluetooth Blueman
Comment[gl]=Xestor de bluetooth Blueman
Comment[hr]=Blueman Bluetooth upravitelj
Comment[hu]=Blueman Bluetooth-kezelő
Comment[id]=Blueman Manager Bluetooth
Comment[it]=Blueman Gestore Bluetooth
Comment[ja]=Blueman Bluetooth マネージャー
Comment[ko]=블루맨 블루투스 관리자
Comment[lt]=Blueman „Bluetooth“ tvarkytuvė
Comment[lv]=Blueman Bluetooth Pārvaldnieks
Comment[mk]=Blueman управувач со блутут
Comment[mr]=ब्लुमॅन ब्लुटूथ व्यवस्थापक
Comment[ms]=Pengurus Bluetooth Blueman
Comment[nb]=Blueman Blåtannsbehandler
Comment[nl]=Blueman Bluetooth-beheer
Comment[pl]=Menedżer Bluetooth Blueman
Comment[pt]=Gestor de Bluetooth Blueman
Comment[pt_BR]=Gerenciador de Bluetooth Blueman
Comment[ro]=Gestionarul Bluetooth Blueman
Comment[ru]=Менеджер Bluetooth Blueman
Comment[sk]=Správca Bluetooth Blueman
Comment[sl]=Upravljalnik Blueman Bluetootha
Comment[sr]=Блутутов управник Блумен
Comment[sv]=Blåtandshanteraren Blueman
Comment[tr]=Blueman Bluetooth Yöneticisi
Comment[uk]=Керівник bluetooth Blueman
Comment[vi]=Blueman - Trình quản lý Bluetooth
Comment[zh_CN]=Blueman蓝牙管理器
Comment[zh_TW]=Blueman 藍牙管理員
Icon=blueman
Exec=blueman-applet
Terminal=false
Type=Application
Categories=
X-MATE-Autostart-enabled=false
